# Workflow State
- Phase: {{ state.workflow.phase }}
- Questions Asked: {{ state.workflow.questions_asked }} / {{ state.workflow.max_refinement_questions }}
- Checklist Finalized: {{ state.workflow.checklist_finalized }}
